c

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AI Tool : Parkinson Disease</a>
        </div>
      </div>display: 
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h2 style="align-content: center;"> SELECTION OF THE MODEL </h2>
            <h3 class="info-danger">Download the Python Script File and run it on your High Computing Machine</h3>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="row" class="text-center">Model Selection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <th scope="row" class="text-center">{{ fin_selections['model'][0] }}</th>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="row" class="text-center">Feet Selection</th>
                    </tr>
                </thead>
                <tbody>

                    {% for value in fin_selections['foot'] %}

                        <tr class="table-success">
                            <td scope="row" class="text-center">{{ value }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="row" class="text-center">Preprocessing Methods</th>
                    </tr>
                </thead>
                <tbody>

                    {% for value in fin_selections['preprocess'] %}

                        <tr class="table-success">
                            <td scope="row" class="text-center">{{ value }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
            <a class="btn btn-primary" href="/researcher/download" role="button">Download</a>
        </div>
    </div>

</body>
