<!DOCTYPE html>
<html lang="en">
<head>
  <title>BTP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AI Tool : Parkinson Disease</a>
    </div>
  </div>
</nav>

<h3> Sensor Selection</h3>
<!-- <table style="width:50%">
<tr><input type="radio" id="r1" name="rs1" value="r1">
<label for="r1">R1 Sensor</label><br></tr>
<tr><input type="radio" id="r2" name="rs2" value="r2">
<label for="r2">R2 Sensor</label><br></tr>
<tr><input type="radio" id="r3" name="rs3" value="r3">
<label for="r3">R3 Sensor</label><br></tr>
<tr><input type="radio" id="r4" name="rs4" value="r4">
<label for="r4">R4 Sensor</label><br></tr>
<tr><input type="radio" id="r5" name="rs5" value="r5">
<label for="r5">R5 Sensor</label><br></tr>
<tr><input type="radio" id="r6" name="rs6" value="r6">
<label for="r6">R6 Sensor</label><br></tr>
<tr><input type="radio" id="r7" name="rs7" value="r7">
<label for="r7">R7 Sensor</label><br></tr>
<tr><input type="radio" id="r8" name="rs8" value="r8">
<label for="r8">R8 Sensor</label><br></tr>
</table> -->

<div class="col-xs-6">
<div class="container">
    <h2>Right Foot</h2>
    <p></p>            
    <table class="table table-hover" style="width:50%">
      <tbody>
        <tr>
          <td><label for="r1">R1 Sensor</label</td>
          <td><input type="radio" id="r1" name="rs1" value="r1"></td>
          <td rowspan="0"><img src="C:\Users\Asus\Desktop\BTP-Parkinson\BTP-AI-Tool-Parkinson\images\right_foot_sensor.png" class="rounded float-start"></td>
        </tr>
        <tr>
            <td><label for="r2">R2 Sensor</label</td>
            <td><input type="radio" id="r2" name="rs2" value="r2"></td>
        </tr>
        <tr>
            <td><label for="r3">R3 Sensor</label</td>
            <td><input type="radio" id="r3" name="rs3" value="r3"></td>
        </tr>
        <tr>
            <td><label for="r4">R4 Sensor</label</td>
            <td><input type="radio" id="r4" name="rs4" value="r4"></td>
        </tr>
        <tr>
            <td><label for="r5">R5 Sensor</label</td>
            <td><input type="radio" id="r5" name="rs5" value="r5"></td>
        </tr>
        <tr>
            <td><label for="r6">R6 Sensor</label</td>
            <td><input type="radio" id="r6" name="rs6" value="r6"></td>
        </tr>
        <tr>
            <td><label for="r7">R7 Sensor</label</td>
            <td><input type="radio" id="r7" name="rs7" value="r7"></td>
        </tr>
        <tr>
            <td><label for="r8">R8 Sensor</label</td>
            <td><input type="radio" id="r8" name="rs8" value="r8"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-6">
  <div class="container">
    <h2>Left Foot</h2>
    <p></p>            
    <table class="table table-hover" style="width:100%">
      <tbody>
        <tr>
          <td><label for="l1">l1 Sensor</label</td>
          <td><input type="radio" id="l1" name="ls1" value="l1"></td>
          <td rowspan="0"><img src="C:\Users\Asus\Desktop\BTP-Parkinson\BTP-AI-Tool-Parkinson\images\left_foot_sensor.png" class="rounded float-start" height="50%"></td>
        </tr>
        <tr>
            <td><label for="l2">l2 Sensor</label</td>
            <td><input type="radio" id="l2" name="ls2" value="l2"></td>
        </tr>
        <tr>
            <td><label for="l3">l3 Sensor</label</td>
            <td><input type="radio" id="l3" name="ls3" value="l3"></td>
        </tr>
        <tr>
            <td><label for="l4">l4 Sensor</label</td>
            <td><input type="radio" id="l4" name="ls4" value="l4"></td>
        </tr>
        <tr>
            <td><label for="l5">l5 Sensor</label</td>
            <td><input type="radio" id="l5" name="ls5" value="l5"></td>
        </tr>
        <tr>
            <td><label for="l6">l6 Sensor</label</td>
            <td><input type="radio" id="l6" name="ls6" value="l6"></td>
        </tr>
        <tr>
            <td><label for="l7">l7 Sensor</label</td>
            <td><input type="radio" id="l7" name="ls7" value="l7"></td>
        </tr>
        <tr>
            <td><label for="l8">l8 Sensor</label</td>
            <td><input type="radio" id="l8" name="ls8" value="l8"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Additional Parameters</h2>
