<!DOCTYPE html>
<html lang="en">
<head>
  <title>BTP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<div class="bg-image" 
	style="
	  background-image: url('/app/application/users/static/background.jpg');
	  height: 100vh;
	">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AI Tool : Parkinson Disease</a>
    </div>
  </div>
</nav>
  
<div class="container" >
    <div class="row">
		<div class="col-md-4 border"></div>
		<div class="col-md-4 border ">
			<h3>
				Upload the VGRF Gait File from Sensors
			</h3>
			<form role="form" action="http://127.0.0.1:5000/users/uploader" method="POST" enctype="multipart/form-data" class="border bg-white p-3 mb-2 bg-secondary text-white">
				<div class="form-group">
					<label for="patientName">
						Name of the Patient
					</label>
					<input type="text" class="form-control" name="patientName" />
				</div>
				<div class="form-group">
					<label for="patientAge">
						Age
					</label>
					<input type="text" class="form-control" name="patientAge" />
				</div>
				<div class="form-group">
					<label for="patientGender">
						Gender
					</label>
					<input type="text" class="form-control" name="patientGender" />
				</div>
                <div class="form-group">
					<label for="patientEmail">
						Email ID
					</label>
					<input type="email" class="form-control" name="patientEmail" />
				</div>
				<div class="form-group">
					<label for="patientWeight">
						Weight
					</label>
					<input type="text" class="form-control" name="patientWeight" />
				</div>
				<div class="form-group">
					<label for="exampleInputFile">
						File input
					</label>
					<input type="file" class="form-control-file" id="exampleInputFile" name="file" accept=".txt"/>
					<p class="help-block">
						Result would be sent to your mail as well
					</p>
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
</div>
</div>
</div>
</body>
</html>
